@font-face {
   font-family: 'Fly and Walk';
   font-display: swap;
   src: url('file:///C:/Users/PRINTAIR/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-06-14_145715/fonts/Fly%20and%20Walk/font.ttf');
}
